/*CODIGO INTRODUCIDO MANUALMENTE*/

body {
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.estadistica {
  width: 80%;
  margin-left: 10%;
  border: 2px solid black;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

div.espaciosindiv {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  float: left;
  margin-left: 4.25%;
  margin-bottom: 35px;
  margin-top: 35px;
}

/*FIN*/